.myhashtag {
    text-align: center;
    font-size: 0.75em;
    color: white;
    /**/
    background-color: green;
    border-color: limegreen;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
