/*
li.checkbox-list::marker {
    content: "☐ ";
}
li.checkbox-list.checkbox-list-selected {
    list-style-type: "\1F44D";
    text-align: center;
}

*/
#root_ * {
    font-size: 20px;
}

ul,
ol {
    padding-inline-start: 1.5em;
    width: fit-content;
}
ol {
    counter-reset: olnumber;
    list-style: none;
}
li {
    display: block;
    width: fit-content;
}
ol > li:before {
    content: counter(olnumber) ". ";
    counter-increment: olnumber;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    width: 2em;
    height: auto;
}

ul {
    list-style: none;
}
ul > li:before {
    content: "●";
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    transform: scale(0.6, 0.6);
    width: 2em;
    height: auto;
}
ul > li.task-list-item-checkbox:before {
    content: "□";
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    transform: scale(1.2, 1.2);
    width: 2em;
    height: auto;
}

ul > li.task-list-item-checkbox.checked:before {
    content: "☑";
}
